body {
  background: rgb(228, 228, 228);
  padding-top: 30px;
}

.tab-body{
  background: rgb(228, 228, 228);
  padding-top: 0px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 10px;
  box-shadow: 0 4px 8px rgba(98, 202, 141, 0.527);
  border: 1px solid #4CAF50;
  border-radius: 15px;
  background: #ffffff;
}

.title {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.instructions{
  text-align: center;
  color: white;
  font-size: 24px; 
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

/* --------------- Estilos botón *Descargar* --------------- */
.Download-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 12px 20px;
  color: white;
  background: linear-gradient(90deg,#020024 0,#52708a 50%,#020024 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
  letter-spacing: 0.05em;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.Download-button svg {
  margin-right: 8px;
  width: 25px;
}

.Download-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #3b82f6;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.Download-button:active {
  box-shadow: 0 0.3em 1em -0.5em #3b82f6;
}

.Download-button::before {
  content: "";
  width: 4px;
  height: 40%;
  background-color: #92c83e;
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;
  transition: all 0.2s;
}

.Download-button::after {
  content: "";
  width: 4px;
  height: 40%;
  background-color: #92c83e;
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
  transition: all 0.2s;
}

.Download-button:hover::before,
.Download-button:hover::after {
  height: 60%;
}

.Download-button:hover::before {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transform: translate(5px, -15px) rotate(45deg);
}

.Download-button:hover::after {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  transform: translate(-5px, 15px) rotate(45deg);
}

/* ------------------------------------------------------------ */

/* Contenedor del contenido principal */
.content {
	position: relative;
	z-index: 1;
	/* Asegura que el contenido esté por encima de las olas */
	padding: 20px;
	background-color: white;
	/* Fondo del contenido */
	min-height: 100vh;
	/* Para asegurar que el contenido ocupe toda la altura */
	
}
